# Bytecode and Compiled Files
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environments (Python)
.venv/
venv/
env/

# Distribution and Build Artifacts
dist/
build/
*.egg-info/

# Testing and Coverage Reports
.pytest_cache/
htmlcov/
.coverage

# IDE/Editor Specific Files (VS Code, PyCharm)
.vscode/
.idea/
*.swp

# Ruff Cache
.ruff_cache/

# Logging and Runtime Data
*.log
*.sqlite3

# OS Specific Files
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Dependencies managed by uv (or pip)
/site-packages

# Big data files
data/
user_ids/
old_user_ids/
transcripts/auto/
transcripts/manual/
*.txt
!requirements.txt
!language_codes.txt
raw/
search_video_ids/
video_ids/
video_info/
invidious_instances/

# Secrets
.env
