autopep8
black[jupyter]
bs4
cohere
datasets
numpy
pandas
psutil
py-cpuinfo
requests
sentencepiece
torch
transformers
uvicorn
wheel
youtube_transcript_api
yt-dlp
lxml
ruff

google-api-python-client
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability