autopep8
black[jupyter]
bs4
cohere
datasets
numpy
pandas
psutil
py-cpuinfo
requests
sentencepiece
torch
transformers
uvicorn
wheel
youtube_transcript_api
yt-dlp
lxml
ruff

google-api-python-client
zipp>=4.1.0 # not directly required, pinned by Snyk to avoid a vulnerability